apiVersion: apps/v1
kind: Deployment
metadata:
  name: codesnap-fe
  labels:
    app: codesnap-fe
spec:
  replicas: 1
  selector:
    matchLabels:
      app: codesnap-fe
  template:
    metadata:
      labels:
        app: codesnap-fe
    spec:
      containers:
        - name: codesnap-fe
          image: roankessels/codesnapfe:1db933ffb419546af02465668ec3485e9f7aefdd
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 5
          resources:
            requests:
              cpu: '50m'
              memory: '64Mi'
            limits:
              cpu: '500m'
              memory: '256Mi'
